<div class="jumbotron">
  <h1>Smash A-Levels!</h1>
  <p>Concise video summaries by UK's top students</p>
  <p><a class="btn btn-primary btn-lg" href="<%= subjects_path%>" role="button">Browse Subjects</a></p>
</div>

